@keyframes carouselY {
    0% {
      transform: translateY(-25px);
      opacity: 0;
    }
    1% {
      transform: translateY(0);
      opacity: 1;
    }
    16% {
      transform: translateY(0px);
      opacity: 1;
    }
    17% {
      transform: translateY(25px);
      opacity: 0;
    }
    100% {
      transform: translateY(25px);
      opacity: 0;
    }
  }

  @keyframes carouselX {
    0% {
      transform: translateX(-25px);
      opacity: 0;
    }
    1% {
      transform: translateX(0);
      opacity: 1;
    }
    16% {
      transform: translateX(0px);
      opacity: 1;
    }
    17% {
      transform: translateX(0px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 0;
    }
  }

  @keyframes bob {
    0% {
      transform: translateY(0px) rotate(180deg);
    }
    10% {
        transform: translateY(-15px) rotate(180deg);
    }
    90% {
        transform: translateY(-15px) rotate(180deg);
    }
    100% {
      transform: translateY(0px) rotate(180deg);
    }
  }

html, body {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
}

.landing {
    width: 100%;
    height: 100vh;
    background-image: url('./media/images/concert/aditya-chinchure-ZhQCZjr9fHo-unsplash.jpg');
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .content {
    color: white;
    box-shadow: 0 0 10px 20px rgb(0 0 0 / 20%);
}
.landing .content h1 {
    font-size: min(10vw, 6rem);
    padding: 2rem;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2px);
}

.landing .content .desc {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 1);
} 

.landing .content .desc >* {
  padding: 1rem;
} 

.landing .content .desc > p:nth-child(1){
    text-align: right;
} 
.landing .content .desc > p:nth-child(2){
    text-align: center;
} 

.landing .content .desc .carousel {
    width: 11rem;
    height: 1.3rem;
    margin: 0;
    padding: 0;
    margin-top: -1rem
}

.landing .content .desc .carousel li {
    list-style: none;
    animation: carouselY 30s infinite;
    position: absolute;
    opacity: 0;
    top: auto;
    width: 11rem;
}
.landing .content .desc .carousel li:nth-child(2) {
 animation-delay: 5s;
}
.landing .content .desc .carousel li:nth-child(3) {
 animation-delay: 10s;
}
.landing .content .desc .carousel li:nth-child(4) {
 animation-delay: 15s;
}
.landing .content .desc .carousel li:nth-child(5) {
 animation-delay: 20s;
}
.landing .content .desc .carousel li:nth-child(6) {
 animation-delay: 25s;
}

.scroll-down {
    animation: bob 2s infinite;
    margin: 0;
    font-size: 80px;
    position: absolute;
    bottom: 0;
    color: white;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    text-decoration: none;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 99;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

nav a:visited {
  color: white;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

#Tickets{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

#Tickets a{
  width: fit-content;
  font-size: 2rem;
  border: 3px rgba(0, 0, 0, 1) solid;
  padding: 1rem;
  color: black;
  text-decoration: none;
}

#Tickets a:hover{
  background-color: rgba(0, 0, 0, 0.05);
}
#Tickets a:visited{
  text-decoration: none;
}

#Schedule {
  display: flex;
  align-items: center;
}
#Schedule div {
  width: 100%;
  display: flex;
}

#Schedule .time-table {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#Schedule .time-table li {
  list-style: none;
}

#Schedule .time-table li {
  padding: 1rem;
}

#Schedule .artists {
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

#Schedule .artists ul{
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#Schedule .artists li{
  width: 50vw;
  height: 50vh;
  list-style: none;
  display: flex;
  align-items: flex-end;
  color: white;
  text-shadow: -2px 2px black;
  padding-left: 1rem;
  background-size: cover;
  background-position-x: center;
  animation: carouselX 30s infinite;
  position: absolute;
  opacity: 0;
  top: -35vh;
  right: 0;
  overflow: hidden;
  justify-content: center;
}


#Schedule .artists li img{
  height: 100%;
}

#Schedule .artists li h1{
  position: absolute;
}

#Schedule .artists .descriptions li{
  font-size: min(0.8rem, 1.8vw);
  top: 15vh;
  color: black;
  text-shadow: none;
  height: fit-content;
  padding: 0.5rem;
  left: -.75rem;
  width: 49vw;
  background-image: none;
  text-align: center;
}

#Schedule .artists li:nth-child(2) {
  animation-delay: 5s;
}
#Schedule .artists li:nth-child(3) {
  animation-delay: 10s;
}
#Schedule .artists li:nth-child(4) {
  animation-delay: 15s;
}
#Schedule .artists li:nth-child(5) {
  animation-delay: 20s;
}
#Schedule .artists li:nth-child(6) {
  animation-delay: 25s;
}

#Testimonials {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

#Testimonials div{
  width: 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

#Testimonials div *{
  padding-left: 1rem;
  padding-right: 1rem;
}

#Testimonials blockquote{
  font-style: italic;
}

#Testimonials blockquote span{
  font-size: 2rem;
  padding: 0;
}

#Testimonials .title {
  align-items: center;
}

#Testimonials .city-image  {
  overflow: hidden;
  height: 40vh;
  background-position: 50%;
}

#FAQ {
  margin-top: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#FAQ div {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#FAQ p {
  width: fit-content;
}

#FAQ .question {
  font-weight: bold;
}

#FAQ hr {
  width: 50%;
}

@media screen and (max-width: 560px) {
  
#Schedule {
  flex-direction: column;
  height: 65rem;
}

#Schedule .artists{
  height: 0;
}

#Schedule .artists li{
  top: initial;
  left: 5%;
  width: 90%;
  padding: 0;
  height: 67vw;
}

#Schedule .artists .descriptions li{
  top: initial;
  margin-top: 70vw;
  left: 1%;
  padding: 0;
  max-width: 98%;
  font-size: 1rem;
  width: auto;
}

  .landing .content .desc {flex-direction: column;}
  .landing .content .desc > * {
    text-align: center !important;
  }

  .landing .content .desc .carousel li {
    left: calc(50% - 5.5rem);
    text-align: center;
  }
  #Testimonials {
    flex-direction: column;
  }
  #Testimonials div{
    width: 100%;
    max-width: 100%;
  }
}